<h3>Les informations suivantes doivent être envoyées.</h3>
<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <p>Title:<%= @blog.title %></p>
  <p>Contenu:<%= @blog.content %></p>
  <%= form.submit  "Registre" %>
  <%= form.submit "Retour", name: 'back' %>
<% end %>